.Rhistory
AHBA/.envrc
AHBA/.ipynb_checkpoints/
AHBA/AHBA_env/
AHBA/atlas_mappings/
AHBA/data/microarray/
AMBA/.envrc
AMBA/.ipynb_checkpoints/
AMBA/AMBA_env/
AMBA/data/expression/
AHBA/data/HumanExpressionMatrix_Samples_pipeline_v1.csv
AHBA/data/SampleInformation_pipeline_v1.csv
AHBA/data/HumanExpressionTree.RData
AMBA/data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionMatrix_voxel_coronal_masksagittal_log2_imputed.csv
AMBA/data/MouseExpressionMatrix_voxel_sagittal_masksagittal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionMatrix_ROI_DSURQE_coronal_maskcoronal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionTree_DSURQE.RData
data/HumanExpressionMatrix_Samples_pipeline_v1_labelled.csv
data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed_labelled.csv
data/TreeLabels.RData
data/TreeLabelsReordered.RData
data/HumanExpressionMatrix_ROI_Region88_scaled.csv
data/HumanExpressionMatrix_Samples_pipeline_v1_labelled_scaled.csv
data/MouseExpressionMatrix_ROI_Region67_scaled.csv
data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed_labelled_scaled.csv
MLP_env/
data/MLP_outcomes/
manuscript/draft/version1/
manuscript/draft/version2/
manuscript/draft/version3/
manuscript/draft/version4/
manuscript/draft/version5/
manuscript/draft/version6/
AMBA/to_clean/
AMBA/data/to_clean/
logs/
analyses/
machine_learning/
data/to_clean/
manuscript/draft/version7/StriatumSimilarityMatrices_HumanSamples.RData
manuscript/draft/version7/StriatumSimilarityMatrices_MouseVoxels.RData
manuscript/draft/version7/Figure6_ss_mean_amygdala_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_amygdala_50um.mnc
manuscript/draft/version7/Figure6_ss_mean_caudatenucleus_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_caudatenucleus_50um.mnc
manuscript/draft/version7/Figure6_ss_mean_nucleusaccumbens_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_nucleusaccumbens_50um.mnc
manuscript/draft/version7/Figure6_ss_mean_putamen_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_putamen_50um.mnc
manuscript/draft/version7/Figure6_ss_mean_septalnuclei_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_septalnuclei_50um.mnc
manuscript/draft/version7/Figure6_ss_mean_substantiainnominata_200um.mnc
manuscript/draft/version7/Figure6_ss_mean_substantiainnominata_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_amygdala_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_amygdala_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_caudatenucleus_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_caudatenucleus_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_nucleusaccumbens_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_nucleusaccumbens_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_putamen_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_putamen_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_septalnuclei_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_septalnuclei_50um.mnc
manuscript/draft/version7/Figure6_ss_prop_substantiainnominata_200um.mnc
manuscript/draft/version7/Figure6_ss_prop_substantiainnominata_50um.mnc
manuscript/draft/version7/AMBALegendSlice.RData
manuscript/draft/version7/Figure1.RData
manuscript/draft/version7/Figure2.RData
manuscript/draft/version7/Figure3.RData
manuscript/draft/version7/Figure4.RData
manuscript/draft/version7/Figure5.RData
manuscript/draft/version7/Figure6.RData
data/MouseHumanMatches_H88M67.csv
manuscript/submissions/
