.Rhistory
AHBA/.envrc
AHBA/.ipynb_checkpoints/
AHBA/AHBA_env/
AHBA/atlas_mappings/
AHBA/data/microarray/
AMBA/.envrc
AMBA/.ipynb_checkpoints/
AMBA/AMBA_env/
AMBA/data/expression/
AHBA/data/HumanExpressionMatrix_samples_pipeline_v1.csv
AHBA/data/SampleInformation_pipeline_v1.csv
AHBA/data/HumanExpressionTree.RData
AMBA/data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionMatrix_voxel_coronal_masksagittal_log2_imputed.csv
AMBA/data/MouseExpressionMatrix_voxel_sagittal_masksagittal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionMatrix_ROI_DSURQE_coronal_maskcoronal_log2_grouped_imputed.csv
AMBA/data/MouseExpressionTree_DSURQE.RData
data/HumanExpressionMatrix_samples_pipeline_v1_labelled.csv
data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed_labelled.csv
data/TreeLabels.RData
data/TreeLabelsReordered.RData
data/HumanExpressionMatrix_ROI_Region88_scaled.csv
data/HumanExpressionMatrix_samples_pipeline_v1_labelled_scaled.csv
data/MouseExpressionMatrix_ROI_Region67_scaled.csv
data/MouseExpressionMatrix_voxel_coronal_maskcoronal_log2_grouped_imputed_labelled_scaled.csv
.venv/
data/MLP_outcomes/
AMBA/to_clean/
AMBA/data/to_clean/
logs/
analyses/
machine_learning/
data/to_clean/
data/MouseHumanMatches_H88M67.csv
manuscript/submissions/biorxiv/Figure6_ss_mean_amygdala_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_amygdala_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_caudatenucleus_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_caudatenucleus_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_nucleusaccumbens_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_nucleusaccumbens_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_putamen_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_putamen_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_septalnuclei_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_septalnuclei_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_substantiainnominata_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_mean_substantiainnominata_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_amygdala_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_amygdala_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_caudatenucleus_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_caudatenucleus_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_nucleusaccumbens_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_nucleusaccumbens_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_putamen_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_putamen_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_septalnuclei_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_septalnuclei_50um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_substantiainnominata_200um.mnc
manuscript/submissions/biorxiv/Figure6_ss_prop_substantiainnominata_50um.mnc
manuscript/submissions/biorxiv/AMBALegendSlice.RData
manuscript/submissions/biorxiv/Figure1.RData
manuscript/submissions/biorxiv/Figure2.RData
manuscript/submissions/biorxiv/Figure3.RData
manuscript/submissions/biorxiv/Figure4.RData
manuscript/submissions/biorxiv/Figure5.RData
manuscript/submissions/biorxiv/Figure6.RData
manuscript/submissions/biorxiv/StriatumSimilarityMatrices_HumanSamples.RData
manuscript/submissions/biorxiv/StriatumSimilarityMatrices_MouseVoxels.RData
ignore_files
manuscript/draft/
AMBA/data/imaging/MICe_DSURQE_grid_0.mnc
AMBA/data/MouseExpressionMatrix_ROI_DSURQE_sagittal_masksagittal_log2_grouped_imputed.csv
AHBA/data/NOTE.txt
AMBA/data/imaging/MICe_DSURQE.xfm
AMBA/data/imaging/MICe_DSURQE_grid_0.mnc
AHBA/data/AHBA_hierarchy_definitions.json
cross_validation/Model_MultilayerPerceptron_Validation.ipynb
manuscript/submissions/science_advances/
manuscript/submissions/elife/Figure6_ss_mean_amygdala_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_amygdala_50um.mnc
manuscript/submissions/elife/Figure6_ss_mean_caudatenucleus_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_caudatenucleus_50um.mnc
manuscript/submissions/elife/Figure6_ss_mean_nucleusaccumbens_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_nucleusaccumbens_50um.mnc
manuscript/submissions/elife/Figure6_ss_mean_putamen_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_putamen_50um.mnc
manuscript/submissions/elife/Figure6_ss_mean_septalnuclei_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_septalnuclei_50um.mnc
manuscript/submissions/elife/Figure6_ss_mean_substantiainnominata_200um.mnc
manuscript/submissions/elife/Figure6_ss_mean_substantiainnominata_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_amygdala_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_amygdala_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_caudatenucleus_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_caudatenucleus_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_nucleusaccumbens_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_nucleusaccumbens_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_putamen_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_putamen_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_septalnuclei_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_septalnuclei_50um.mnc
manuscript/submissions/elife/Figure6_ss_prop_substantiainnominata_200um.mnc
manuscript/submissions/elife/Figure6_ss_prop_substantiainnominata_50um.mnc
manuscript/submissions/elife/AMBALegendSlice.RData
manuscript/submissions/elife/Figure1.RData
manuscript/submissions/elife/Figure2.RData
manuscript/submissions/elife/Figure3.RData
manuscript/submissions/elife/Figure4.RData
manuscript/submissions/elife/Figure5.RData
manuscript/submissions/elife/Figure6.RData
manuscript/submissions/elife/StriatumSimilarityMatrices_HumanSamples.RData
manuscript/submissions/elife/StriatumSimilarityMatrices_MouseVoxels.RData
data/isocortex/
data/MLP_outcomes_isocortex/
